:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --header-background: #ffffff;
  --header-text-color: #111;
  --border-color: #ccc;
  --hover-background: #eef;
  --table-header-background: #fff;
  --table-row-hover: #eef;
}

.dark-mode {
  --background-color: #222222;
  --text-color: #ffffff;
  --header-background: #333333;
  --header-text-color: #ffffff;
  --border-color: #555555;
  --hover-background: #444;
  --table-header-background: #333333;
  --table-row-hover: #444;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

h1, h2 { font-size: 16px; }

header {
  margin-bottom: 1em;
}

@media print { header { display: none; } }

header > span {
  vertical-align: top;
  margin-right: 1em;
}

details {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

details > div {
  position: absolute;
  min-width: 200px;
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: white;
  border: 1px solid #ccc;
}

details > div > div:not(:last-child) {
  margin-bottom: 0.5em;
}

.input {
  margin-right: 1em;
}

.input > * {
  vertical-align: middle;
}

.input label:first-of-type {
  margin-right: 0.5em;
}

.input label.value {
  display: inline-block;
  min-width: 40px;
}

.input input[type="range"] {
  margin-right: 0.5em;
}

table {
  position: relative;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  font-variant-numeric: tabular-nums;
  box-sizing: border-box;
  max-width: initial;
  min-height: 33px;
  margin: 0;
  width: 100%;

  font-size: 13px;
  line-height: 15.6px;
}

thead tr th {
  position: sticky;
  top: 0;
  background: #fff;
  cursor: ns-resize;
  border-bottom: solid 1px #ccc;
}

tbody tr:hover {
  background: #eef;
}

th {
  color: #111;
  text-align: left;
  vertical-align: bottom;
}

td, th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 3px 6.5px 3px 0;
}

tbody tr:first-child td {
  padding-top: 4px;
}

td, tr:not(:last-child) th {
  border-bottom: solid 1px #eee;
}

td {
  color: #444;
  vertical-align: top;
}

/* Button Styling */
button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin: 10px;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Theme Toggle Button */
#theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1000;
}

#theme-toggle:hover {
  background-color: #0056b3;
}